header
    .position-absolute.w-100.d-flex.justify-content-between.navbar-theme.p-3
        a.btn.btn-link.dark.back(data-theme="dark")
            i.fa.fa-arrow-left

        a.btn.btn-link.dark.changeThemeButton(data-theme="dark")
            i.fa.fa-moon
            
        a.btn.btn-link.light.changeThemeButton(data-theme="light")
            i.fa.fa-sun