html(lang="PT-AO")
    head
        block head
            title #{title} » Ango Chat

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="authors" content="DorivaTech, Dorivaldo Valentim")
        meta(name="keywords" content="chat")
        meta(name="description" content="Chat")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel='stylesheet' href='/assets/css/bootstrap.min.css')
        link(rel='stylesheet' href='/assets/fonts/fontawesome/css/all.css')
        link(rel='stylesheet' href='/assets/css/main.css')
    
    body
        include ./../shared/header.pug

        block content
        
        include ./../shared/footer.pug