html(lang="PT-AO")
    head
        block head
            title #{title} » Ango Chat

        link(rel='stylesheet' href='/assets/css/style.css')
    
    body
        include ./../shared/head.pug

        block content
        
        include ./../shared/footer.pug