* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-theme {
    .fa {
        font-size: 20pt;
    }

    .btn.light {
        color: yellow;
        filter: drop-shadow(0 0 0.5rem yellow);
    }

    .btn.dark {
        color: white;
        filter: drop-shadow(0 0 0.2rem #fff) invert(1);
    }
}

.chat {
    width: 100%;
    min-height: 200px;

    .form-control.disabled {
        cursor: not-allowed;
        background-color: lighten(gray, 20%);
        border-color: lighten(gray, 20%);
    }
}