body.dark {
    background-color: #333;

    .navbar-theme {
        .btn.dark {
            display: none;
        }
    }

    .logo {
        .title {
            color: #fff;
        }
    }

    .chat {
        .card {
            box-shadow: 0 0 0.5rem #fff;
            background-color: transparent;
            border: none;
        }
    }
}